<!DOCTYPE html>
<html>
<head>
	{{>headerlinks}}
	<script src="https://use.fontawesome.com/4c7a69d8f8.js"></script>
	<title>About Page</title>
</head>
<body>
	<header>
		{{>header}}
	</header>

	<section>
		<div class="row mt-3">
			<div class="col-md-6 col-12 text-center">
				<img src="https://images.unsplash.com/photo-1534068731687-d70176c2e7d5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80" class="aboutimg">
			</div>
			<div class="col-md-6 col-12 mt-4 mb-4">
				<h1 class="display-4">Divay Garg </h1>
				<h5> Netaji Shubhas University of Technology </h5>
				

				<hr style="background-color:lightgray;">

				<h5 style="color:gray;">The skyRep is weather forcastion website which is full resposive and be used in any moblie and screen is uses the Api to fect the information of the weather report of various city and states in all over the world the creater of this webstie is Divay Aggarwal </h5>

				<hr style="background-color: lightgray;">

				<h4 style="margin:0;padding:0;">divay805@gmail.com</h4>
				<br>
                <h4>+91 9537337190</h4>
				<br>
				<h4> +91 7623919268</h4>
			</div>
		</div>
	</section>

	<footer>
		{{>footer}}
	</footer>
</body>
</html>
